.nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  box-shadow: 1px 1px 2px 1px var(--black-050);
}

.logo {
  height: 3rem;
}

/* visible for screens below 1050px */
.btn-nav-small {
  display: none;
}

@media screen and (max-width: 600px) {
  .btn-nav-small {
    display: block;
  }
  .navbar-nav {
    display: flex;
  }
  .navbar-nav-list {
    display: none;
  }
  .navbar-action{
    padding: 0;
  }
  .navbar {
    padding: 0.5rem;
  }
}
