.footer {
  background-color: var(--primary-800);
  padding: 1rem;
  color: var(--black-050);
  text-align: center;
}

.footer-upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow-wrap: break-word;
}

.footer-quick-links a,
.footer-contact-links a {
  color: var(--black-050);
  overflow-wrap: break-word;
}

.footer-contact-links .list-item a:hover,
.footer-quick-links .list-item a:hover {
  font-weight: bold;
}

.footer-contact-links .list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-lower {
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .footer-upper {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .footer-lower {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
