body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  box-shadow: 1px 1px 2px 1px var(--black-050);
}

.w-100 {
  width: 100%;
}

.logo {
  height: 3rem;
}


.badge-count {
  background-color: var(--black-500);
  bottom: 55%;
  left: 60%;
}

.footer {
  background-color: var(--primary-800);
  padding: 1rem;
  color: var(--black-050);
  text-align: center;
}

.footer-upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow-wrap: break-word;
}

.footer-quick-links a,
.footer-contact-links a {
  color: var(--black-050);
  overflow-wrap: break-word;
}

.footer-contact-links .list-item a:hover,
.footer-quick-links .list-item a:hover {
  font-weight: bold;
}

.footer-contact-links .list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-lower {
  line-height: 1.5;
}

/* common styling for all radio buttons and checkboxes - will include it in component library later on */
.radio-input-group,
.checkbox-input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  height: 0.9rem;
  width: 0.9rem;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked,
input[type="range"] {
  accent-color: var(--primary-900);
}

.video-list {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  position: relative;
}

.like-video {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-900);
}

.videos {
  padding: 1rem;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
}

.video-card:hover {
  /* transform: scale(1.01); */
  cursor: pointer;
}

.badge-bestseller {
  font-size: 0.75rem;
}

.card-image {
  position: relative;
}

.product-rating {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 2px;
  background-color: var(--primary-800);
  color: var(--black-050);
  padding: 4px 6px;
  border-radius: 2px;
  width: fit-content;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.video-card .card-header {
  padding-bottom: 0;
}

.video-title {
  color: var(--black-600);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-watch-now {
  margin: 2px 0;
}

@media screen and (max-width: 600px) {
  .footer-upper {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .footer-lower {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
